@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enterprise Communications Management System</h1>
    <p class="lead">Manage all your communication inside your Enterprise using ECMS and make use of amazing features offered by a variety of API Providers.</p>
</div>

<div class="row">
    <div class="col-md-4">
       
        
    </div>
    <div class="col-md-4">
        <h2>New here? @Html.ActionLink("Sign up!", "Register", "Home", null, new { @class = "btn btn-primary" }) or @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-primary" })</h2>
        
    </div>

</div>