
@{
    ViewBag.Title = "Registration Status";
}

<h2>Registration Status</h2>

@{ 
    if(ViewBag.status == "success")
    {
        <h3 class="text-success">You have been successfully registered</h3>
    }
    else
    {
        <h3 class="text-danger">Registration failed. Contact admin.</h3>
    }
}



