<div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">Meetings</a></li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
        <li><a href="#">Manage Meetings</a></li>
        <li><a href="#" onclick="">Schedule a meeting</a></li>
        <li><a href="#">Conversations</a></li>
    </ul>
</div>
